<resources>
    <menu2 id="SettingsMenu" title="@Strings.Settings">
        <menu-item          id="createSensorsMenu"          label="@Strings.Sensors"/>
        <menu-item          id="createDatafieldMenu"        label="@Strings.Datafield"/>
        <menu-item          id="createGameMenu"             label="@Strings.GameRules"/>
        <menu-item          id="createSpeedMenu"            label="@Strings.DoubleClick"        subLabel="doubleclickspeed"/>
    </menu2>

    <menu2 id="SensorsMenu" title="@Strings.Sensors">
        <toggle-menu-item   id="_"                          label="@Strings.Location"           subLabel="sensor_location"/>
        <toggle-menu-item   id="_"                          label="@Strings.Temperature"        subLabel="sensor_temperature"/>
    </menu2>

    <menu2 id="DatafieldMenu" title="@Strings.Datafield">
        <menu-item          id="createFieldsMenu"           label="@Strings.Fields"/>
        <menu-item          id="createScrollingMenu"        label="@Strings.Scrolling"/>
    </menu2>

    <menu2 id="FieldsMenu" title="@Strings.Fields">
        <toggle-menu-item   id="_"                          label="@Strings.Distance"           subLabel="field_distance"/>
        <toggle-menu-item   id="_"                          label="@Strings.Calories"           subLabel="field_calories"/>
        <toggle-menu-item   id="_"                          label="@Strings.Score"              subLabel="field_score"/>
        <toggle-menu-item   id="_"                          label="@Strings.Temperature"        subLabel="field_temperature"/>
        <toggle-menu-item   id="_"                          label="@Strings.Daytime"            subLabel="field_daytime"/>
        <toggle-menu-item   id="_"                          label="@Strings.ServicePos"         subLabel="field_service"/>
    </menu2>

    <menu2 id="ScrollingMenu" title="@Strings.Scrolling">
        <toggle-menu-item   id="_"                          label="@Strings.AutoScroll"         subLabel="autoscroll"/>
        <menu-item          id="createSpeedMenu"            label="@Strings.ScrollSpeed"        subLabel="scrollspeed"/>
        <toggle-menu-item   id="_"                          label="@Strings.SwipeScroll"        subLabel="swipescroll"/>
    </menu2>
    
    <menu2 id="GameMenu" title="@Strings.GameRules">
        <toggle-menu-item   id="_"                          label="@Strings.AutoWin"            subLabel="game_win_auto"/>
        <menu-item          id="createWinPointsMenu"        label="@Strings.WinPoints"          subLabel="game_win_points"/>
        <toggle-menu-item   id="_"                          label="@Strings.TwoPoint"           subLabel="game_win_two_pt_diff"/>
        <toggle-menu-item   id="_"                          label="@Strings.RetryAutoWin"       subLabel="game_win_retry"/>
        <toggle-menu-item   id="_"                          label="@Strings.EqualServing"       subLabel="game_equal_serving"/>
        <toggle-menu-item   id="_"                          label="@Strings.SwitchAlarm"        subLabel="game_switch_alarm"/>
        <menu-item          id="createSwitchPointsMenu"     label="@Strings.SwitchPoints"/>
    </menu2>

    <menu2 id="SpeedMenu" title="">
        <menu-item          id="_"                          label="@Strings.VeryFast"           subLabel="2"/>
        <menu-item          id="_"                          label="@Strings.Fast"               subLabel="3"/>
        <menu-item          id="_"                          label="@Strings.Normal"             subLabel="4"/>
        <menu-item          id="_"                          label="@Strings.Slow"               subLabel="5"/>
        <menu-item          id="_"                          label="@Strings.VerySlow"           subLabel="7"/>
    </menu2>

    <jsonData id="DefaultSettings">
    {
        "version": 3,
        "sensor_location": true,
        "sensor_temperature": true,
        "field_distance": true,
        "field_calories": true,
        "field_score": true,
        "field_temperature": true,
        "field_daytime": true,
        "field_service": true,
        "autoscroll": true,
        "swipescroll": true,
        "scrollspeed": 4,
        "doubleclickspeed": 3,
        "game_win_auto": true,
        "game_win_two_pt_diff": true,
        "game_win_points": 21,
        "game_win_retry": false,
        "game_equal_serving": true,
        "game_service_helper": true,
        "game_switch_alarm": true,
        "game_switch_points": 5
    }
    </jsonData>
</resources>